<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bankieren.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CF847631E48C91D006955F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF847771E48C91D006955F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF847821E48C91D006955F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF847BC1E48D800006955F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF847C41E48D800006955F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
